<navbar [items]="items" (openEventEmitter)="openCart()"></navbar>
<div class="container">
      <h2>Carro de compras</h2>
      <button [className]="(showCart)? 'd-none':'btn btn-info'" >Show cart </button>
      <div class="row">
          <div  [className]="(showCart)? 'col-9' :'col'">
              <catalog [products]="products" (productEventEmitter)="onAddCart($event)"></catalog>        
          </div>
          @if (showCart) {
              <div class="col-3">
                  <button class="btn btn-danger" (click)="openCart()">Close cart</button>
                  @if (items.length >0) {
                      <cart [items]="items" (idProductEventEmitter)="onDeleteCart($event)" [total]="total"></cart>
                  } @else{
                      <div class=" alert alert-warning">
                          No hay nada en el carrito de compras
                      </div>
                  }
              </div>
          }
      </div>
  </div>      

